<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />

    <application android:networkSecurityConfig="@xml/native_player_network_security_config">
        <!-- Rotation is handled in-place; state is still saved for explicit recreation/process death. -->
        <activity
            android:name=".NativePlayerActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|smallestScreenSize|screenLayout|uiMode"
            android:exported="false"
            android:resizeableActivity="true"
            android:supportsPictureInPicture="true"
            android:theme="@style/Theme.TelegramDrive.NativePlayer" />
    </application>
</manifest>
